src/main/mule/secure-config-prop-web-api-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

	<sub-flow name="set-common-params" doc:id="3ffe593b-762f-4ed6-8aa0-9dcd3d801d5b" >
		<set-variable value="#[output application/java&#10;---&#10;payload.parts.&quot;input-file&quot;.headers.'Content-Type']" doc:name="contentType" doc:id="e9a9dc3a-50ad-4eb0-86c7-a8f0477f304f" variableName="contentType" />
		<set-variable value="#[output application/java&#10;---&#10;payload.parts.operation.content]" doc:name="operation" doc:id="2f2308e5-7a72-4bac-b34d-33df5ec46523" variableName="operation" />
		<set-variable value="#[output application/java&#10;---&#10;payload.parts.algorithm.content]" doc:name="algorithm" doc:id="4c633e2a-7903-42f7-b06e-894b18866cb4" variableName="algorithm" />
		<set-variable value="#[output application/java&#10;---&#10;payload.parts.mode.content]" doc:name="mode" doc:id="901b18d1-01bb-4e43-95d9-58edb051644a" variableName="mode" />
		<set-variable value="#[output application/java&#10;---&#10;payload.parts.key.content]" doc:name="key" doc:id="85a1bdee-bd92-4685-8b77-eea9ac606dbe" variableName="key" />
		<set-variable value="#[output application/java&#10;---&#10;payload.parts.value.content]" doc:name="value" doc:id="d1e7210c-8ba5-4d77-b151-2e2b6494a378" variableName="value" />
		<set-variable value="#[output application/java&#10;var inputFileName = lower(payload.parts.&quot;input-file&quot;.headers.&quot;Content-Disposition&quot;.filename) default &quot;&quot;&#10;var detectedFileType = if(payload.parts.&quot;input-file&quot;.content contains &quot;:&quot;)(&quot;yaml&quot;) else if(payload.parts.&quot;input-file&quot;.content contains &quot;=&quot;) (&quot;properties&quot;) else null&#10;---&#10;if ( vars.hasInputFile and ((inputFileName endsWith &quot;.properties&quot;) or (inputFileName endsWith &quot;.prop&quot;) or (inputFileName endsWith &quot;.props&quot;) or (p('application.input.file.contentType-prop') contains vars.contentType)) ) (&quot;properties&quot;)&#10;else if ( vars.hasInputFile and ((inputFileName endsWith &quot;.yaml&quot;) or (inputFileName endsWith &quot;.yml&quot;) or (p('application.input.file.contentType-yaml') contains vars.contentType)) ) (&quot;yaml&quot;)&#10;else if (vars.hasInputFile and (!isEmpty(inputFileName))) (detectedFileType)&#10;else null]" doc:name="fileType" doc:id="90c52e5a-635a-4f61-94da-73bf876d86aa" variableName="fileType"/>
		<set-variable value='#[output application/java&#10;---&#10;payload.parts."output-file-name".content]' doc:name="outputFileName" doc:id="e1ec59a6-040b-4b44-beee-510652f318a8" variableName="outputFileName" />
	</sub-flow>	
	
	<sub-flow name="process-input-file" doc:id="30e27fe8-13b9-4df9-a996-8a23f1590dfd" >
		<validation:is-true doc:name="Is File Valid" doc:id="83eaef06-21e3-456c-a7ca-e319fdc431c2" expression="#[(p('application.input.file.contentType') contains vars.contentType) and (vars.fileType != null)]" message="Invalid input file format. Only .yaml and .properties files are supported.">
			<error-mapping targetType="APP:INVALID_INPUT_FILE" />
		</validation:is-true>
		<set-variable value="#[p('app.home') ++ &quot;/&quot; ++ p('application.process.tempFileName') ++ &quot;.&quot; ++ vars.fileType]" doc:name="inputFilePath" doc:id="b177a3f2-8b37-4aaa-b777-3cb55fee5d11" variableName="inputFilePath" />
		<set-variable value="#[p('app.home') ++ &quot;/&quot; ++ vars.outputFileName ++ &quot;.&quot; ++ vars.fileType]" doc:name="outputFilePath" doc:id="66d6f89d-3903-4820-9aa0-97a1d4a3b3ee" variableName="outputFilePath" />
		<file:write doc:name="InputFile" doc:id="3cc4844a-3711-4caf-8771-30a5132ec751" config-ref="File_Config" path="#[vars.inputFilePath]">
            <file:content><![CDATA[#[payload.parts."input-file".content]]]></file:content>
        </file:write>
	</sub-flow>
	<sub-flow name="process-output-file" doc:id="32570fdf-eb34-4a81-8cb2-d71d53692077" >
		<validation:is-false doc:name="Is Valid Response" doc:id="dcb38383-cbd8-47fa-a141-873abd7c66a6" expression='#[payload startsWith("##ERROR#: ")]' message='#[dw::core::Strings::substringAfter(payload as String,"##ERROR#: ") default "Error Occurred while generating output. Please check input file."]'>
			<error-mapping targetType="APP:SDK_ERROR" />
		</validation:is-false>
		<set-variable value='#[%dw 2.0&#10;import * from dw::core::Binaries&#10;output application/java&#10;---&#10;(vars.outboundHeaders default {&#10;}) ++ {&#10;	"Content-Disposition": "attachment; filename=" ++ vars.outputFileName ++ "." ++ vars.fileType,&#10;	"Content-Type": "application/octet-stream"&#10;}]' doc:name="outboundHeaders" doc:id="d53f13de-fc4c-41b0-8432-6f7532d66af0" variableName="outboundHeaders" />
		<file:read doc:name="OutputFile" doc:id="da169cce-f113-4285-a8b2-c106ab15bb9d" path="#[vars.outputFilePath]" outputMimeType="application/octet-stream" />
	</sub-flow>
			
	<flow name="string" doc:id="011f9c27-9a6b-47a6-bd37-cc67bbf2e98a">
        <set-variable value="#[false]" doc:name="hasInputFile" doc:id="dd68e6d1-1713-4ae1-b4b5-1272b5c8f3d0" variableName="hasInputFile"/>
		<flow-ref doc:name="set-common-params" doc:id="527b81da-d901-4d2c-b6ba-f1511d4104fe" name="set-common-params"/>
		<java:invoke-static doc:name="processString()" doc:id="b37d8d2f-4171-49a4-b39d-3f37a308ce04" class="com.apurbagiri.SecurePropertiesHandler" method="processString(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)">
			<java:args ><![CDATA[#[output application/java
---
{
	arg0: vars.operation,
	arg1: vars.algorithm,
	arg2: vars.mode,
	arg3: vars.key as String,
	arg4: vars.value
}]]]></java:args>
		</java:invoke-static>
		<validation:is-false doc:name="Is Valid Response" doc:id="ebc6261d-132c-43f5-bf38-e75dbab929b8" expression='#[payload startsWith("##ERROR#: ")]' message='#[dw::core::Strings::substringAfter(payload as String,"##ERROR#: ") default "Error Occurred while generating output. Please check input file."]'>
				<error-mapping targetType="APP:SDK_ERROR" />
			</validation:is-false>
        <ee:transform doc:name="Output" doc:id="9c212482-784b-4132-8728-55380fae690f">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"output": payload
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>		
	</flow>
	<flow name="file" doc:id="067099dc-dfeb-43f8-b8a9-257ad7d7220a">		
        <set-variable value="#[true]" doc:name="hasInputFile" doc:id="36e48287-7eba-4e58-b4b9-89a3f63961e0" variableName="hasInputFile"/>
		<flow-ref doc:name="set-common-params" doc:id="0c04295a-3011-41d1-8888-b6b125b50e2f" name="set-common-params"/>
		<flow-ref doc:name="process-input-file" doc:id="6d08508e-14d1-45c0-aa93-d35a78c37f64" name="process-input-file"/>
        <java:invoke-static doc:name="processFileProperties()" doc:id="25f06b64-15b8-4605-a148-a4a8602b0ba6" class="com.apurbagiri.SecurePropertiesHandler" method="processFileProperties(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)">
			<java:args ><![CDATA[#[output application/java
---
{
	arg0: vars.operation,
	arg1: vars.algorithm,
	arg2: vars.mode,
	arg3: vars.key,
	arg4: vars.inputFilePath,
	arg5: vars.outputFilePath
}]]]></java:args>
		</java:invoke-static>
		<flow-ref doc:name="process-output-file" doc:id="091bdb31-9f34-4e94-bdd7-0a91b8796c9d" name="process-output-file"/>        
	</flow>
	<flow name="file-level" doc:id="d3bc00ed-73a5-4b97-9707-ef7945a25404">
		<set-variable value="#[true]" doc:name="hasInputFile" doc:id="094502df-d8ab-4513-b9b6-e3f9e6c8c000" variableName="hasInputFile"/>
		<flow-ref doc:name="set-common-params" doc:id="9f2131ef-6506-47db-9047-73774c97bfc6" name="set-common-params"/>
        <flow-ref doc:name="process-input-file" doc:id="322903f9-a9a3-44aa-b391-a0c3e7037651" name="process-input-file"/>
		<java:invoke-static doc:name="processFile()" doc:id="3f99f0cc-e4c3-4794-aef8-c942990d31c8" class="com.apurbagiri.SecurePropertiesHandler" method="processFile(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)">
			<java:args ><![CDATA[#[output application/java
---
{
	arg0: vars.operation,
	arg1: vars.algorithm,
	arg2: vars.mode,
	arg3: vars.key,
	arg4: vars.inputFilePath,
	arg5: vars.outputFilePath
}]]]></java:args>
		</java:invoke-static>
		<flow-ref doc:name="process-output-file" doc:id="cd9c6bb0-596e-44e2-ac53-9f46c07b9a44" name="process-output-file"/>        
	</flow>
</mule>
