src/main/mule/secure-config-prop-web-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="secure-config-prop-web-api-main">
        <http:listener config-ref="secure-config-prop-web-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="secure-config-prop-web-api-config" />
    </flow>
    <flow name="secure-config-prop-web-api-console">
        <http:listener config-ref="secure-config-prop-web-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="secure-config-prop-web-api-config" />
    </flow>
    <flow name="post:\file-level:multipart\form-data:secure-config-prop-web-api-config">
		<flow-ref doc:name="file-level" doc:id="b38c0c84-8691-47a1-bce5-c1da11d70365" name="file-level"/>
    </flow>
    <flow name="post:\file:multipart\form-data:secure-config-prop-web-api-config">
		<flow-ref doc:name="file" doc:id="d2c4e10c-0934-4573-b5bc-32b51663351f" name="file"/>
    </flow>
    <flow name="post:\string:multipart\form-data:secure-config-prop-web-api-config">
		<flow-ref doc:name="string" doc:id="424aebd0-27aa-4430-96a1-d54463c8880d" name="string"/>
    </flow>
</mule>
